<!DOCTYPE html>
<html lang="en">
<style>
    .inner {
        padding-left: 100px;
        padding-right: 100px;
    }
</style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>승선99 | 스파르타</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/assets/css/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            localStorage.removeItem('user_name')
            localStorage.removeItem('sub_name')
            localStorage.removeItem('user_img_url')
        });
    </script>
</head>

<body>
<div class="inner">

    <!-- Header -->
    <header id="header">
        <a href="index.html" class="logo"><strong>승선99</strong>에 올라타세요!</a>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>승선99<br/>
                    스터디 플랫폼</h1>
                <p>자유롭게 당신의 스터디를 모집하세요!</p>
            </header>
            <p>승선99는 항해99 크루원들을 위해 2기 스터디원들이 토이프로젝트로 제작한 스터디 모집 플랫폼입니다.<br/>알고리즘 스터디, Code with me 등 다양한 주제의 스터디를 지금
                만나보세요!</p>
            <ul class="actions">
                <li>
                    <a href="https://slack.com/oauth/v2/authorize?user_scope=identity.basic&client_id=1682940574129.1987342115286?redirect_uri=http%3A%2F%2Flocalhost%3A5000" style="border-bottom: none;">
                        <img alt="Sign in with Slack" height="40" width="172"
                             src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
                             srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x,
         https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x"/>
                    </a></li>
            </ul>
        </div>
        <span class="image object">
										<img src="../static/images/SS01.jpg" alt=""/>
									</span>
    </section>
</body>
</html>