<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<a href="https://slack.com/oauth/v2/authorize?user_scope=identity.basic&client_id=1682940574129.1987342115286?redirect_uri=http%3A%2F%2Flocalhost%3A5000%3Alogin">
    <img alt="Sign in with Slack" height="40" width="172"
         src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
         srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x,
         https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
</a>
</body>
</html>